@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

:root {
  --bg: #F8F9FA;
  --primary: #128C7E; /* WhatsApp Green */
  --secondary: #075E54;
  --accent: #25D366;
}

body {
  background-color: var(--bg);
  color: #1A1A1A;
}
